
$bgcolor: rgb(26, 29, 41);
$conatinerColor: #0e0b14;
$textColorPrimary: #f9f9f9;;
$textColorSecundary: #cacaca;
$buttonColor: #0072d2;

$fontTitle: 24px;
$fontText: 20px;
$fontTextMedium: 15px;
$fontTextSmall: 12px;